*.tmp
~\$*.docx
*.swp
*.pyc
*.out
.DS_Store
/C_Jumps.pdf
/MIT6_096IAP11_lec08_C++_memory_management.pdf
/MIT6_096IAP11_lec09_C++_template_overload.pdf
/MIT6_096IAP11_lec10_C++_File_Handling.pdf
/rfc3174.pdf
/python-2.7.14-docs-pdf-a4
/sphinx-rst-syntax.pdf
/hacker's_delight_basics.pdf
/net_routing_1.pdf
/sphinx-workspace/sphinx-rst-syntax.pdf
/sphinx-workspace/DataScriptLanguageOverview.pdf
_build
build
/my_wiki/make.bat
/my_wiki/tools
/sphinx-workspace/makefile.custom
/sphinx-workspace/Makefile
/sphinx-workspace/make.bat
/google_test_framework.pdf
/google_test_note.docx
/scaffold
/Shell-Script-Note.docx
/Qt note.docx
